body {
  background-color: #1a202c;
  color: #e2e8f0;
}
input,
textarea {
  background-color: #2d3748;
  color: #e2e8f0;
}
button {
  background-color: #4a5568;
  color: #e2e8f0;
}
.task-card {
  background-color: #2d3748;
}
.task-buttons button {
  background-color: transparent;
  color: #e2e8f0;
  /* Add transition effect to color */
  transition: color 0.2s;
}

/* Hover effect for task buttons */
.task-buttons button:hover {
  color: #cbd5e0;
}

/* Hover effect for icon inside task buttons */
.task-buttons button:hover i {
  transform: scale(1.1);
}
.priority-high {
  background-color: "#7f1d1d";
}

.priority-medium {
  background-color: "#713f12";
}

.priority-low {
  background-color: "#365314";
}
